<h1> Index do Usuário</h1>

criar uma tabela com dados de usuário fiquiticios



<h2> Cadastro de usuário</h2>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>usuario1</td>
            <td>(16) 12212-0447</td>
        </tr>
        <tr>
            <td>2</td>
            <td>usuario2</td>
            <td>(16) 23134-9999</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Usuario3</td>
            <td>(16) 98123-9999</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Usuario4</td>
            <td>(16) 98567-9999</td>
        </tr>
        <tr>
            <td>5</td>
            <td>usuari5</td>
            <td>(16) 98890-9999</td>
        </tr>
        <tr>
            <td>6</td>
            <td>usuario6</td>
            <td>(16) 98384-9999</td>
        </tr>
        <tr>
            <td>7</td>
            <td>usuario7</td>
            <td>(16) 98165-9239</td>
        </tr>
        <tr>
            <td>8</td>
            <td>usuario8</td>
            <td>(16) 98165-9129</td>
        </tr>
        <tr>
            <td>9</td>
            <td>usuario9</td>
            <td>(16) 98165-9909</td>
        </tr>
        <tr>
            <td>10</td>
            <td>usuario10</td>
            <td>(16) 98165-9973</td>
        </tr>

    </tbody>

</table>
