@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class=" table table-striped">
    <thead>
        <tr>
            <th> Codigo </th>
            <th> Nome </th>
            <th> Telefone </th>
        </tr>
    </thead>

<tbody>
                <tr>
                    <td>1</td>
                    <td>Washington</td>
                    <td>16 98989-5623</td>
                    
                </tr>

                <tr>
                    <td>2</td>
                    <td>Vitor</td>
                    <td>16 99995-3265</td>

                </tr>

                <tr>
                    <td>3</td>
                    <td>Lucas</td>
                    <td>16 65895-3562</td>
                   
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hiago</td>
                    <td>16 78454-3265</td>
                   
                </tr>

            </tbody>

</table>