<h1> Pagina de login </h1>

<div class="mb-3">
  <label> Email</label>
  <input type="email" class="form-control" name="Email" placeholder="name@example.com">
  <label> Senha</label>
  <input type="password" class="form-control" />
   <input type="submit" class="btn btn-primary" name="Senha" /> 
</div>

